.parallax {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.background {
    background-size: cover;
    background-position: center;
}

.name, .job {
    text-align: center;
    color: white;
}

.name, .job { margin: 20px 0; }

.name { font-size: 1.8rem; }

.name > h1 { margin: 0; }

.job { font-size: 1.6rem; }

@media screen and (min-width: 768px) {
    .name { font-size: 2.8rem; }
    .job { font-size: 2.4rem; }
}