.statusContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.5rem;
    padding: 4rem 2rem;
    align-items: stretch;
}

.statusContainer > * {
    align-self: stretch;
}

@media screen and (min-width: 768px) {
    .statusContainer {
        grid-template-columns: 1fr 1fr;
    }
}