:root {
  --background-color: #04071a;
  --secondary-color: rgba(217, 217, 217, 0.32);
  --tertiary-color: #535C91;
  --quaternary-color: #9290C3;

  --text-primary: #CED4DA;

  --details-primary: #CED4DA;
  --details-secondary: rgba(120, 120, 120, 0.8);
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  margin: 0;
}

.content-container {
  display: grid;
  grid-template-columns: 
  10% [content-start] 0 [content-left-start] 0 [content-right-start] 1fr [content-right-end] 0 [content-left-end] 0 [content-end] 10%;
  margin-top: 40px;
}

.content-container > * {
  grid-column: content;
}

.breakout {
 grid-column: breakout;
}

.box-shadow {
  box-shadow: white 0px 0px 10px;
}

.animationsDisabled * {
  animation: none !important;
}

.info__infoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 33px 0 33px 39px;
  width: 100%;
  border-radius: 20px;
  background-color: var(--secondary-color);
}

/* Animations */
.info__infoCard.aos-animate .anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
  blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
        width: 0;
  }
  to {
        width: 16em;
  }
}

@keyframes blinkTextCursor {
  from {
        border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
        border-right-color: transparent;
  }
}

/* Responsive */
@media screen and (min-width: 768px) {
  .content-container {
    grid-template-columns: 
    1fr [content-start] 0 [content-left-start] 2fr [content-right-start] 3fr [content-left-end] 2fr [content-right-end] 0 [content-end] 1fr;
  }
}

@media screen and (max-width: 767px) {
  .not_mobile {
      display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .not_tablet {
      display: none !important;
  }
}

@media screen and (min-width: 1440px) {
  .not_desktop {
      display: none !important;
  }
}