:root {
  --background-color: #04071a;
  --secondary-color: rgba(217, 217, 217, 0.32);
  --tertiary-color: #535C91;
  --quaternary-color: #9290C3;

  --text-primary: white;

  --details-primary: #CED4DA;
  --details-secondary: rgba(120, 120, 120, 0.8);
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  margin: 0;
  max-width: 100lvw;
  overflow-x: hidden;
  color: var(--text-primary);
}

.title {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
}

.section { margin-top: 5rem; }

.animationsDisabled * {
  animation: none !important;
}

/* Responsive */
@media screen and (min-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .section {
    margin-top: 7rem;
  }
}